.Rproj.user
.Rhistory
.RData
.Ruserdata
LEdecomp.Rproj
Figuras
df_cálculos.xlsx
df_descompuesta.csv
df.csv
tr-2014-003-scripts.zip
US_2019CauseofDeaths (Copia en conflicto de David Atance 2024-04-01).R
US_2019CauseofDeaths.R
Gráficos ggplot2.R
deaths_2019.Rdata
df.RData
datos
revdep
